.wrapper.error textarea .wrapper.error input {
  border: 1px solid red;
}

.wrapper.error span {
  color: red;
}

.formError {
  width: 100px;
  height: 70px;
  border: 1px solid red;
  color: red;
}
