.navbar {
  width: 90%;
}

.menuLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000000;
  padding: 0.4rem 0.8rem;
}

.menuItem {
  position: relative;
  border-radius: 0.5rem;
  transition: all 300ms;
}

.menuItem:hover {
  background-color: #e5e7eb;
}

.linkIcon {
  width: 15%;
  aspect-ratio: 1/1;
  object-fit: cover;
  color: #1a71f4;
}
